*{
	box-sizing: border-box;
	margin: 0;
	padding: 0 ;
}
:root{
	font-family: 'Kumbh Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	/* primary */
	--color-orange: hsl(26, 100%, 55%);
	--color-pale-orange: hsl(25, 100%, 94%);

	/* neutral */
	--color-very-blue: hsl(220, 13%, 13%);
	--color-dark-grayish-blue:hsl(219, 9%, 45%);
	--color-grayish-blue:hsl(220, 14%, 75%);
	--color-light-grayish-blue:hsl(223, 64%, 98%);
	--color-white:hsl(0, 0%, 100%);
	--color-black: hsl(0, 0%, 0%);
	--color-black-opacity:rgba(0, 0, 0, 0.74);
}

body{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	min-width: 100vw;
}

header{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.container{
	align-items: center;
	border-bottom: 1px solid var(--color-grayish-blue);
	display: flex;
	justify-content: space-between;
	max-width: 1110px;
	margin: 0 auto;
}

.navigation{
	display: flex;
}
.main-navigation {
	display: flex;
	justify-content: space-around;
}
.main-navigation a{
	position: relative;
	color: var(--color-dark-grayish-blue);
	text-decoration: none;
	margin: 0rem 1.5rem;
	padding: 3rem 0rem;
}
.main-navigation a:hover {
	color: var(--color-black);
}

.main-navigation a:hover:before{
	content: '';
	position: absolute;
	top: -2px;
	left: 0;
	width: 100%;
	height: 100%;
	border-bottom: 3px solid var(--color-orange);
}
.logo{
	object-fit: none;
	margin-right:2rem ;
}
.profil{
	align-items: center;
	display: flex;
	position: relative;
}
.cart-container{
	margin-right: 3rem;
	padding: 0.5rem;
}
.cart-img{
	cursor: pointer;
}
.person-img{
	height: 50px;
	width: 50px;
}
.person-img:hover{
	outline: 2px solid var(--color-orange);
	border-radius: 50px;
	cursor: pointer;
}

.products-list{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 3rem;
}
.product{
	align-items: center;
	display: flex;
	margin: auto;
	flex-wrap: wrap;

}
.lightbox{
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding-right: 2rem ;
}

.product-img{
	border-radius: 1rem;
	height: 400px;
	width: 400px;
	cursor: pointer;

}

.thumbnails {
	display: flex;
	justify-content: space-between;
}

.thumbnail{
	height: 80px;
	list-style: none;
	width: 80px;
	border-radius: 1rem;
}

.thumbnail img {
	border-radius: 1rem;
	height: 100%;
	width: 100%;
}

.thumbnail img:hover {
	opacity: 0.75;
	cursor: pointer;
}

.opacity {
	opacity: 0.75;
}
.active {
	outline: 2px solid var(--color-orange);
}
.description{
	display: flex;
	flex-direction: column;
	padding-left: 3rem;
	width: 500px;
}

.brand {
	color: var(--color-orange);
	font-weight: 700;
	padding-bottom: 2rem;
}
h1{
	font-size: 3rem;
	line-height: 0.9;
	padding-bottom: 2rem;
}
.description-info{
	color: var(--color-dark-grayish-blue);
	line-height: 1.5;
}
.price{
	align-items: center;
	display: flex;
	margin-top: 2rem;
}
.discount-price{
	font-size: 1.7rem;
	font-weight: 700;
	margin-right: 1rem;
}
.discount{
	border-radius: 0.3rem;
	background-color: var(--color-pale-orange);
	color: var(--color-orange);
	font-weight: 700;
	padding: 0.2rem 0.6rem;
}
.recent-price{
	color: var(--color-dark-grayish-blue);
	font-weight: 700;
	text-decoration: line-through;
	margin-top:0.5rem;
}

.item{
	display: flex;
	gap: 1rem;
	height: 50px;
	margin-top: 2rem;
}
.counter{
	display: flex;
	flex-grow: 2;
	background-color: var(--color-light-grayish-blue);
}
.segment{
	align-items: center;
	display: flex;
	flex-grow: 1;
	text-align: center;
	justify-content: center;
	background-color: var(--color-light-grayish-blue);
	border: none;
	text-decoration: none;
	font-weight: 700;
}
.decrease, .increase{
	color: var(--color-orange);
	font-size: 1.5rem;
}
.decrease:hover, .increase:hover{
	cursor: pointer;
}
.curent{
	margin: auto 0;
}

.item-add{
	flex-grow: 3;
	align-items: center;
	background-color:var(--color-orange);
	border:1px solid var(--color-orange);
	border-radius:10px;
	color:var(--color-white);
	cursor:pointer;
	display: flex;
	font-size: 1rem;
	font-weight:700;
	text-decoration:none;
	justify-content:center ;
}
.cart{
	fill: var(--color-white);
	margin-right: 2rem;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }



/* shoping cart */

.shopping-cart{
	display: none;
	position: absolute;
	width: 350px;
	border-radius: 10px;
	box-shadow: -10px 10px 1rem var(--color-grayish-blue);
	top: 60px;
	left: -100px;
	background-color: var(--color-white);
}
.cart-tittle{
	padding: 1.5rem;
	border-bottom: 1px solid var(--color-grayish-blue);
}
.cart-body{
	min-height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* cart product */

.cart-product{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}
.thumbnail-cart{
	height: 60px;
	width: 60px;
	border-radius: 5px;
}

.product-cart-info{
	line-height: 1.5rem;
}
.delete-img{
	background: none;
	border: none;
}
.delete-img:hover{
	cursor: pointer;
}

.summary-btn{
	display: flex;
	margin-top: 1rem;
	height: 3rem;
	
}
.shop-list{
	flex-grow: 1;
	color: var(--color-white);
	background-color: var(--color-orange);
	border: none;
	border-radius: 7px;
}

/* gallery-box */
.wrapper{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: var(--color-black-opacity);
	width: 100vw;
	height: 100vh;
	display: none;
	justify-content:center ;
	align-items: center;
	padding-right: 2rem ;
}
.gallery-container{
	display: flex;
	gap: 1rem;
	flex-direction: column;
	justify-content: flex-end;
}
.gallery-img{
	border-radius: 1rem;
	height: 500px;
	width: 500px;
}
.gallery-container .gallery-thumbnails{
	display: flex;
	justify-content: center;
	gap: 2rem;

}
.thumbnail{
	background-color: var(--color-white);
}
.visable{
	display: flex;
	flex-direction: column;
}

.main-container{
	display: flex;
	justify-content: center ;
	align-items: center;
}
.close-gallery{
	display: flex;
	justify-content: flex-end;
	margin-right: 50px;
}
.close-btn{
	background: none;
	border: none;
	cursor: pointer;
	direction: none;
}

.close-icon path{
	fill: var(--color-white);
}
.close-icon:hover path{
	fill:var(--color-orange);
}
.previus-btn, .next-btn{
	position: relative;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background-color: var(--color-white);
	z-index: 1;
	border: none;
}
.previus-btn{
	left: 25px;
}
.next-btn{
	left: -25px;
}
.previus-btn:hover, .next-btn:hover {
	cursor:pointer;
}
.next-btn:hover .next-icon path, .previus-btn:hover .previus-icon path{
	stroke: var(--color-orange);
}